@model IEnumerable<BaseJumpContracts.Models.Customer>

@{
    ViewBag.Title = "Search";
}

<h2 class="search-header">Search</h2>

<p>
    Search form will go here
</p>
<table class="index-table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.ID).ToHtmlString(), "Details", "Customer", new { ID = item.ID }, null)
        </td>
        <td>
            @Html.ActionLink(item.Name, "Details", "Customer", new { ID = item.ID }, null)
        </td>
    </tr>
}

</table>
